<VirtualHost *:80>
    DocumentRoot "/var/www/{{ item.name }}/html"
    ServerName "{{ item.name }}.{{ domain_name }}"
    <Directory /var/www/{{ item.name }}/html>
        AllowOverride All
	Options All Indexes 
	Require all granted
    </Directory>
 
    DirectoryIndex index.html index.php index.htm
</VirtualHost>
